src/frontend/node_modules
terraform.tfstate
terraform.tfstate.backup
.idea/*
src/frontend/.idea/*
*/.idea/*
.terraform/*
src/backend/__pycache__/
github-sa-key.json
src/backend/.env
src/frontend/package-lock.json
.DS_Store
src/.DS_Store
src/backend/.DS_Store
*.pyc
*.DS_Store
*pkl